{% extends 'admin/layout.html.twig' %}

{% block title %}Author
{% endblock %}

{% block content %}
<<<<<<< HEAD
<<<<<<< HEAD
	<h1>Author</h1>
=======
    <h1>Author</h1>
>>>>>>> 23f2af0ec00f29394a423f82a19da78036a70d92
=======
	<h1>Author</h1>
>>>>>>> e75419a5a32bfa624a53650a2cf6784a2f4079a0

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ author.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ author.name }}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{ author.address }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('author_index') }}">back to list</a>

	<a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>

	{{ include('author/_delete_form.html.twig') }}
{% endblock %}
