{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section>
      <!-- Item -->
      <div class="vh-75 mt-lg-n13 banner-accueil" style="background-image: url({{ asset('build/images/pexels-scott-webb-1029606.jpg') }});">
        <div class="container d-flex flex-column">
          <div class="row align-items-center justify-content-left text-left vh-75">
            <div class="col-12 col-md-6 col-lg-9 text-white">
              <h1 class="display-md-4 text-dark">Lorem ipsum dolor sit amet</h1>
              <p class="pt-4 text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro non ea consectetur.
                Voluptatibus labore placeat totam aliquid porro maxime magni voluptate, ducimus minima ab impedit beatae
                omnis ut quis nesciunt?</p>
              <a  href="/contact" type="button" class="btn btn-outline-dark mt-4">contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-12">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-12">
        <h2 class="pb-6">Recherche par mots clés</h2>
      </div>
        <div class="col-12 col-md-8">

    <form id="searchForm" action="{{ path('publication_index') }}" method="get">
        <div id="searchBox">
          <input type="text" class="form-control" placeholder="mots clé" aria-label="Recipient's username" aria-describedby="button-addon2" name="q" id="searchField" autocomplete="off">
          <div class="pt-4 text-left">
            <button class="btn btn-outline-success">Recherché</button>
            <a class="btn btn-outline-secondary mx-2" href="/publication/list" role="button">Recherché avancee</a>
          </div>
          <ul id="autocomplete"></ul>
        </div>
    </form>

        </div>
      </div>
    </div>
  </section>

  <section class="pb-12">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center pb-10">
          <h3 class="h2">Dernières publications</h3>
        </div>
      </div>
      <div class="row">
{% for publication in publications %}
    <div class="col-12 col-md-4">
      <img src="{{
        asset('build/images/pexels-emily-768125.jpg')
      }}" class="card-img-top" alt="...">
      <div class="card mb-6">
        <div class="card-body">
          <h5 class="card-title">{{ publication.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ publication.type.name }}
          </h6>
          <p class="card-text">{{ publication.thematic.name }}</p>
          <p class="card-text">
            {{ publication.publicationDate ? publication.publicationDate|date('Y-m-d') : '' }}
          </p>
          <p class="card-text">{{ publication.support }}</p>
          <a class="btn btn-outline-success" href="{{ path('publication_show', { id: publication.id }) }}">consulter</a>
        </div>
      </div>
    </div>
    {% else %}
    <p>no records found</p>
    {% endfor %}

      </div>
    </div>
  </section>



  <section class="py-12 bg-green">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 pb-4">
          <h4 class="text-dark">S'inscrire à la newsletter
          </h4>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="email" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-dark" type="button" id="button-addon2">s'abonner</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
