{{ form_start(form, {'action': path('publication_list', {page: 1}), 'method': 'POST'}) }}

    <div class="row justify-content-left">
        <div class="col-md-6">
            {{ form_row(form.type_search, {label_attr: {class: 'switch-custom'} }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.thematic_search) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.author_search) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.keywordRef_search) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.keywordGeo_search) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.dateStart_search) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.dateEnd_search) }}
        </div>
        {% if is_granted('ROLE_AUDAP_MEMBER') %}
            <div class="col-md-3">
                {{ form_row(form.borrow_search) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.cote_search) }}
            </div>
        {% endif %}
    </div>

    <button class="btn btn-outline-success">{{ button_label|default('Rechercher') }}</button>
{{ form_end(form) }}
