{% extends 'base.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
<section>
<div class="container">
<div class="row">
<div class="col-12 py-5 text-center">
<nav class="py-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>
<h1>
Publications
</h1>
</div>
</div>
</div>
</section>
<section>
<div class="container pb-12">
    {{ include('publication/_formSearch.html.twig', {'button_label': 'Rechercher'}) }}
</div>
</section>
<section>
</section>
<div class="container">
<div class="row">
<div class="col-12 col-md-4">
      {% for publication in publications %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ publication.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ publication.type.name }}</h6>
    <p class="card-text">{{ publication.thematic.name }}</p>
        <p class="card-text">{{ publication.publicationDate ? publication.publicationDate|date('Y-m-d') : '' }}</p>
            <p class="card-text">{{ publication.support }}</p>
    <a href="#" class="card-link">Card link</a>
    <a class="card-link" href="{{ path('publication_show', {'id': publication.id}) }}">show</a>
  </div>
</div>
        {% else %}
            <p>no records found</p>
        {% endfor %}
</div>
</div>
</div>
</div>
</div>
    <a href="{{ path('publication_list') }}">Retour</a>
{% endblock %}
