{% extends 'base.html.twig' %} {% block title %}Publication{% endblock %} {%
block body %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 py-5 text-center">
        <nav class="py-2" style="--bs-breadcrumb-divider: '>'"aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/publication/list">Publications</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ publication.title }}</li>
          </ol>
        </nav>
        <p>Publication</p>
        <h1 class="h2">
          {{ publication.title }}
        </h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div
        class="col-12 py-15"
        style="background-position: center; background-image: url({{
          asset('build/images/pexels-cottonbro-4861362.jpg')
        }})"
      ></div>
    </div>
  </div>
</section>

<div class="container py-4">
  <div class="row justify-content-center py-9">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="row">
        <div class="col-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="strong">Title:</span> 
              {{ publication.title }}
            </li>
            <li class="list-group-item">
              <span class="strong">Thématique:</span> 
              {{ publication.thematic.name }}
            </li>
            <li class="list-group-item">
              <span class="strong">Type:</span> 
              {{ publication.Type.name }}
            </li>
            <li class="list-group-item">
              <span class="strong">Commentaire de l'emprunt:</span>
              {{ borrow.comment }}
            </li>
            <li class="list-group-item">
              <span class="strong">Localisation:</span>
              {{ publication.Localisation ? publication.Localisation.name : 'Pas de localisation!' }}
            </li>
            <li class="list-group-item">
              <span class="strong">Cote:</span> {{ publication.cote }}
            </li>
            <li class="list-group-item">
              <span class="strong">Demande d'emprunt envoyée :</span> {{ borrow.id }}
            </li>
            <li class="list-group-item">
              <span class="strong">pour la date de réservation :</span> {{ borrow.reservationDate | date("d/m/Y") }}
            </li>
            <li class="list-group-item">
              <span class="strong">Un e-mail de confirmation vous sera envoyé prochainement à votre adresse mail:</span> {{ app.user.email }}
            </li>
            <li class="list-group-item">
              <span class="strong">A récupérer au centre de :</span> {{ publication.Localisation}}
            </li>
          </ul>
        </div>
        <div class="col-12 py-3">
          <a class="btn btn-outline-success" href="{{ path('publication_list') }}">Retour à la liste des publications</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
