{% extends 'admin/layout.html.twig' %}

{% block title %}Auteur
{% endblock %}

{% block content %}

<section class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
				<h2>Auteur</h2>
				<div class="table-responsive">
					<table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
			
						<tbody>
							<tr>
								<th>Nom</th>
								<td>{{ author.name }}</td>
							</tr>
							<tr>
								<th>Adresse</th>
								<td>{{ author.address }}</td>
							</tr>
						</tbody>
					</table>
			
					<a class="btn btn-outline-primary btn-sm mb-3" href="{{ path('auteur_edit', {'id': author.id}) }}" role="button">Edition</a>
					{{ include('/admin/author/_delete_form.html.twig') }}
					<a class="btn btn-outline-secondary btn-sm mt-3" href="{{ path('auteur_list') }}" role="button">Retour à la liste</a>
				</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
