<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
	<div class="sb-sidenav-menu">
		<div class="nav">
			<div class="sb-sidenav-menu-heading"></div>
			<a class="nav-link" href="{{ path('admin') }}">
				<div class="sb-nav-link-icon">
					<i class="fas fa-tachometer-alt"></i>				
					Dashboard
				</div>
			</a>
			<div class="sb-sidenav-menu-heading">Gestion des oeuvres</div>
						<a class="nav-link collapsed" href="{{ path('publication_admin_list') }}"  aria-expanded="false" aria-controls="collapsePages">
				<div class="sb-nav-link-icon">
					<i class="fas fa-file"></i>
				</div>
				Publications
			</a>
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
				<div class="sb-nav-link-icon">
					<i class="fas fa-book-open"></i>
				</div>
				Oeuvres
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" href="{{ path('thematic_list')}}">Thématiques</a>
					<a class="nav-link" href="{{ path('auteur_list')}}">Auteurs</a>
					<a class="nav-link" href="{{ path('language_list')}}">Langues</a>
					<a class="nav-link" href=" {{ path('localisation_list') }}">Localisations</a>
				</nav>
			</div>

			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts-1" aria-expanded="false" aria-controls="collapseLayouts">
				<div class="sb-nav-link-icon">
					<i class="fas fa-file-word"></i>
				</div>
				Mots-Clés
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseLayouts-1" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" href="{{ path('keyword_ref_list') }}">Références</a>
                    <a class="nav-link" href="{{ path('keyword_geo_list')}}">Géolocalisation</a>
				</nav>
			</div>







			<div class="sb-sidenav-menu-heading">Gestion des emprunts</div>
			<a class="nav-link collapsed" href="{{ path('emprunt_list') }}"  aria-expanded="false" aria-controls="collapseLayouts">
				<div class="sb-nav-link-icon">
					<i class="fas fa-address-book"></i>
				</div>
				Emprunts
			</a>
			<div class="sb-sidenav-menu-heading">Gestion des utilisateurs</div>
			<a class="nav-link collapsed" href="{{ path('user_list') }}"  aria-expanded="false" aria-controls="collapsePages">
				<div class="sb-nav-link-icon">
					<i class="fas fa-users"></i>
				</div>
				Utilisateurs
			</a>
		</div>
	</div>
	 <div class="sb-sidenav-footer">
	<div class="small">{{ "now"|date("d/m/Y")}} <a style="padding-left:5%"href="{{ path('home') }}"><i style="color: white"class="fas fa-globe-europe"></i><text style="color: white;"> Audap</text></a>
 	</div>
	</div> 
</nav>
