{% extends 'base.html.twig' %}

{% block title %}Création de la newsletter
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ecrivez la newsletter !</h1>
		<p>Vous pouvez choisir de vous abonner a une ou plusieurs newsletters en fonction du thème choisi</p>
		{{form_start(form)}}
		{{ form_row(form.name) }}
		{{ form_row(form.content|raw) }}
		{{ form_row(form.categories) }}
		{{form_end(form)}}
	</div>
{% endblock %}
