{% extends "admin/layout.html.twig" %}


{% block content %}
	<div class="container-fluid" style="padding-top:2%">
		{# 
						<ol class="breadcrumb mb-4">
							<li class="breadcrumb-item active">Alert Notification ?</li>
						</ol> 
						<div class="row">
							<div class="col-xl-3 col-md-6">
								<div class="card bg-primary text-white mb-4">
									<div class="card-body">Auteurs</div>
									<div class="card-footer d-flex align-items-center justify-content-between">
										<a class="small text-white stretched-link" href="#">Details</a>
										<div class="small text-white">
											<i class="fas fa-angle-right"></i>
										</div>
				
									</div>
								</div>
								 <ul class="list-group list-group-flush">
				
								</ul> 
							</div>
							<div class="col-xl-3 col-md-6">
								<div class="card bg-warning text-white mb-4">
									<div class="card-body">Thématique</div>
									<div class="card-footer d-flex align-items-center justify-content-between">
										<a class="small text-white stretched-link" href="#">Details</a>
										<div class="small text-white">
											<i class="fas fa-angle-right"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-6">
								<div class="card bg-success text-white mb-4">
									<div class="card-body">Notice</div>
									<div class="card-footer d-flex align-items-center justify-content-between">
										<a class="small text-white stretched-link" href="#">Details</a>
										<div class="small text-white">
											<i class="fas fa-angle-right"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-6">
								<div class="card bg-danger text-white mb-4">
									<div class="card-body">Emprunts</div>
									<div class="card-footer d-flex align-items-center justify-content-between">
										<a class="small text-white stretched-link" href="#">Details</a>
										<div class="small text-white">
											<i class="fas fa-angle-right"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-6">
								<div class="card mb-4">
									<div class="card-header">
										<i class="fas fa-chart-area mr-1"></i>
										Area Chart Example
									</div>
									<div class="card-body">
										<canvas id="myAreaChart" width="100%" height="40"></canvas>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card mb-4">
									<div class="card-header">
										<i class="fas fa-chart-bar mr-1"></i>
										Bar Chart Example
									</div>
									<div class="card-body">
										<canvas id="myBarChart" width="100%" height="40"></canvas>
									</div>
								</div>
							</div>
				</div> #}
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Dernières demandes d'emprunt
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Cote</th>
								<th>Titre</th>
								<th>Emprunté par</th>
								<th>Date de réservation</th>
								<th>Date d'emprunt</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						{% for borrow in last_borrows %}
							<tr>
								<td>{{ borrow.publication.cote }}</td>
								<td>{{ borrow.publication.title }}</td>
								<td>{{ borrow.user.fullname }}</td>
								<td>{{ borrow.reservationdate|date("d/m/Y") }}</td>
								<td>{{ borrow.borrowedDate|date("d/m/Y") }}</td>
								<td><a class="btn btn-outline-success" href="{{ path('borrow_show', { id: borrow.id }) }}">Consulter</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Dernières Publications ajoutées
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Titre</th>
								<td>Ajouté par</td>
								<th>Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						{% for publication in publications %}
							<tr>
								<td>{{ publication.title }}</td>
								<td>{{ publication.user.fullname }}</td>
								<td>{{ publication.publicationDate ? publication.publicationDate|date("d/m/Y") : '' }}</td>
								<td><a class="btn btn-outline-success" href="{{ path('publication_show', { id: publication.id }) }}">Consulter</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Dernières Publications modifiées
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Titre</th>
								<th>Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
								{% for publication in publications_dashboard %}
							<tr>
								<td>{{ publication.title }}</a></td>
								<td>{{ publication.updatedate | date("d/m/Y") }}</td>
								<td><a class="btn btn-outline-success" href="{{ path('publication_show', { id: publication.id }) }}">Consulter</a></td>
							</tr>
							{% endfor %} 
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>
{% endblock %}
