{% extends 'base.html.twig' %}

{% block title %}Liste des Emprunts
{% endblock %}

{% block body %}
	<h2>Liste des Emprunts</h2>
	<div class="table-responsive">
		<table class="table table-bordered table-sm table-hover" id="dataTable" width="100%" cellspacing="0">

			<thead>
				<tr class="table-active">
					<th>Titre de Publication</th>
					<th></th>
					<th>Date d'Emprunt</th>
					<th>Date Limite</th>
					<th>Utilisateur</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for borrow in borrows %}
					<tr>
						<td>{{ borrow.publication.title }}</td>
						<td></td>
						<td>{{ borrow.borrowedDate ? borrow.borrowedDate|date('Y-m-d') : '' }}</td>
						<td>{{ borrow.limitDate ? borrow.limitDate|date('Y-m-d') : '' }}</td>
						<td></td>
						<td>
							<a class="btn btn-outline-primary btn-sm" href="{{ path('emprunt_show', {'id': borrow.id}) }}" role="button">Détail</a>
							<a class="btn btn-outline-primary btn-sm" href="{{ path('emprunt_edit', {'id': borrow.id}) }}" role="button">Edition</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Aucun Enregistrement</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<a class="btn btn-outline-primary btn-sm" href="{{ path('emprunt_add') }}" role="button">Création Nouvel Emprunt</a>
	<div></div>
	<a class="btn btn-outline-secondary btn-sm" href="{{ path('admin') }}" role="button">Retour Menu Admin</a>

{% endblock %}
