{% extends 'admin/layout.html.twig' %}

{% block title %}Liste des Thématiques
{% endblock %}

{% block content %}
<section class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
					<h2>Liste des Thématiques</h2>
				<div class="py-3">
					<a class="btn btn-outline-primary btn-sm"  href="{{ path('thematic_add') }}" role="button">Ajouter</a>
					<a class="btn btn-outline-secondary btn-sm" href="{{ path('admin') }}" role="button">Accueil</a>
				</div>
			<div class="table-responsive">
				<table class="table table-bordered table-sm table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr class="table-active">
							<th>Nom</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for thematic in thematics %}
							<tr>
								<td>{{ thematic.name }}</td>
								<td>{{ thematic.description }}</td>
								<td>
									<a class="btn btn-outline-primary btn-sm" href="{{ path('thematic_show', {'id': thematic.id}) }}" role="button">Détails</a>
									<a class="btn btn-outline-primary btn-sm" href="{{ path('thematic_edit', {'id': thematic.id}) }}" role="button">Editer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Aucun Enregistrement</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class=" py-3">
				<a class="btn btn-outline-primary btn-sm" href="{{ path('thematic_add') }}" role="button">Ajouter</a>
				<a class="btn btn-outline-secondary btn-sm" href="{{ path('admin') }}" role="button">Accueil</a>
			</div>
            </div>
        </div>
    </div>
</section>
	
{% endblock %}
